@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4f54e3;
  --color-surface: #ffffff;
  --color-background: #f7f7f8;
  --color-text-primary: #191b1d;
  --color-text-secondary: #5f646a;

  --font-sans: "Plus Jakarta Sans", sans-serif;
}

@utility bg-surface {
  background-color: var(--color-surface);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}